@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
:root {
    --main: #d5aa77;
    --sub: #971e08;
    --text: #FAFAFA;
    --background: #bc3b18;
    --accent: #000000;
}

nav {
    background-color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
  
.navbar-brand{
  color: var(--main) !important;
  font-weight: 900;
  font-family: 'Satisfy', serif;
}

.navbar-nav .nav-link{
  color: var(--main) !important;
}

/* body {
    background: var(--primary);
    color: var(--secondary);
    font-family: Geneva, Verdana, sans-serif;
    text-align: center;
  } */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("../images/wallpaper_notes.jpg");
  background-size: cover; 
  background-position: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  margin: 20px;
}

.card {
  /* width: 100%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center; */
  width: 100%;
  background-color: var(--main);
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column; /* Stack the elements vertically */
  height: 100%; /* Ensure full height */
  min-height: 450px; /* Adjust this based on your content */
}

.card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  font-weight: bold;
  color: var(--accent);
}

.card-text {
  font-size: 1em;
  color: var(--accent);
  margin-bottom: 20px;
  flex-grow: 1;
}

.container {
  grid-template-rows: auto 1fr auto;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  line-height: 3em;
  background: linear-gradient(0deg, #000000 0%, #0e0e0e 5%, #757575 25%, #c5c5c5 35%, #ffffff 50%, #c5c5c5 65%, #757575 75%, #0e0e0e 95%, #000000 0%);
  color: var(--background);
  align-content: center;
  border-top: 0.025rem solid #ffffff;
  border-bottom: 0.025rem solid #ffffff;
  z-index: 1100;
}

main {
  margin-top: 5.2rem;
}

h1, h2 {
  margin: 2rem auto;
}

p {
  margin: 1rem;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.contact-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  background-color: var(--sub);
  color: var(--text);
  border-radius: 12px;
}

.contact-content {
    flex: 1;
    max-width: 50%;
}

.contact-content h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.contact-content p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 1.5em;
    text-align: start;
}
  
  @keyframes color-change {
    0% {
      color: #ffffff;
    }
      25% {
      color: #69afaf;
    }
    50% {
      color: #0f7db9;
    }
      75% {
      color: #0a91a5;
    }
    100% {
      color: #0fd7cd;
    }
  }
  
  footer {
    bottom: 0;
    left: 0;
    position: fixed;
    line-height: 3em;
    width: 100%;
    align-content: center;
    background-color: #8f4e18;
  }