@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
:root {
    --main: #d5aa77;
    --sub: #971e08;
    --text: #FAFAFA;
    --background: #bc3b18;
    --accent: #000000;
}

.background{
  background: url(../images/new-hero-image-2.webp) no-repeat center center/cover fixed;
 }
 
.background * {
  z-index: 2; 
 }

.card {
  background-color: #d5aa77;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.form-check-label, .form-label, .form-text{
  color: #6a1405;
  font-weight: 800;
  font-size: 1.5rem;
  font-family: 'Satisfy', cursive;
}


h1 {
  font-weight: 900;
  font-size: 3.5rem;
  font-family: 'Satisfy', cursive;
  color: var(--main);
}

h1, p{
  background-color: #0000000a;
}




