@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
:root {
    --main: #d5aa77;
    --sub: #971e08;
    --text: #FAFAFA;
    --background: #bc3b18;
    --accent: #000000;
}

.background{
  background: url(../images/new-hero-image-2.webp) no-repeat center center/cover fixed;
 }
 
.background * {
  z-index: 2; 
 }

.card {
  background-color: #FAFAFA;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.form-check-label, .form-label, .form-text{
  color: var(--accent);
  font-weight: 400;
}


h1 {
  font-weight: 900;
}

h1, p{
  background-color: #0000000a;
}




