@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
:root {
    --primary: #0e0e0e;
    --secondary: #FFFFFF;
    --accent: #FAFAFA;
    --background-old: #050505;
    --text: #f5f5f5;
    --main: #d5aa77;
    --sub: #971e08;
    --text: #FAFAFA;
    --background: #bc3b18;
    --accent: #0000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", Arial, sans-serif;
    text-decoration: none !important;
}

html,
body {
    height: 100%;
}

body {
    font-family: Geneva, Verdana, sans-serif;
    text-align: center;
    position: relative;
    background: url(../images/wallpaper_notes.jpg) center / cover; 
    background-repeat: repeat-y;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

main {
    flex: 1 0 auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: red;
    padding: 60px;

}

main h1 {
    margin: 35px;
    font-size: 4em;
}

.error-img {
        max-width: 100%; /* Make sure the image is responsive */
        width: 500px;    /* Set the image width (can be any size) */
        height: auto;    /* Keep the aspect ratio */
        display: inline-block; /* Needed to center the image */
        margin: 30px auto;
}

main p {
    font-size: 1.2em;
    line-height: 1.7;
}