@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
:root {
    --main: #d5aa77;
    --sub: #971e08;
    --text: #FAFAFA;
    --background: #bc3b18;
    --accent: #0000;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", Arial, sans-serif;
    text-decoration: none !important;
    text-align: center;
}

iframe {
  display: none;
}
  /****** Navigation start *******/  
    
  .background{
    background: url(../images/new-hero-image-1.webp) no-repeat center center/cover fixed;
   }
  
   .background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: -1;
  }

  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  header {
    position: sticky;
    top: 0px;
    background-color: transparent;
    width: 100%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    z-index: 3;
  }
  
  .nav-container {
    max-width: 65rem;
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
    position: relative;
  }
  
  .logo-container {
    flex: 1;
    display: flex;
    align-items: center;
  }
  
  .nav-btn {
    flex: 3;
    display: flex;
  }
  
  .thenav-links {
    flex: 2;
  }
  
  
  .logo {
    color: var(--main);
    font-size: 1.1rem;
    font-weight: 900;
    font-family: "Satisfy", serif;
    line-height: 1.4rem;
    padding-top: .8rem;
  }
  
  
  
  .thenav-links > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }
  
  .thenav-link {
    position: relative;
  }
  
  .thenav-link > a {
    line-height: 4rem;
    color: var(--main);
    padding: 0 3rem;
    letter-spacing: 1px;
    font-size: .95rem;
    font-weight: 600; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
  }

  .thenav-link:hover > a {
    transform: scale(1.1);
    background-color: var(--sub); 
    color: var(--text);
    text-decoration: none;
  }
  
  .hamburger-menu-container {
    flex: 1;
    display: none;
    align-items: center;
    justify-content: flex-end;
  }
  
  .hamburger-menu {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .hamburger-menu i {
    color: var(--main);
    position: relative;
    z-index: 1001;
  }
  
  
  #check {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    z-index: 90000;
    cursor: pointer;
    opacity: 0;
    display: none;
  }
  
  #check:checked ~ .hamburger-menu-container .hamburger-menu div {
    background-color: var(--main);  }
  
  #check:checked ~ .hamburger-menu-container .hamburger-menu div:before {
    transform: translateY(0) rotate(-45deg);
  }
  
  #check:checked ~ .hamburger-menu-container .hamburger-menu div:after {
    transform: translateY(0) rotate(45deg);
  }
  
  @keyframes animation {
    from {
      opacity: 0;
      transform: translateY(15px);
    }
  
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  
  @media (max-width: 920px) {
    .hamburger-menu-container {
      display: flex;
    }
  
    #check {
      display: block;
    }
 
    .nav-btn {
      position: fixed;
      height: calc(100vh - 3rem);
      top: 3rem;
      left: 0;
      width: 100%;
      background-color: var(--main);
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      overflow-x: hidden;
      overflow-y: auto;
      transform: translateX(100%);
      transition: .65s;
    }
  
    #check:checked ~ .nav-btn {
      transform: translateX(0);
    }
  
    #check:checked ~ .nav-btn .thenav-link,
    #check:checked ~ .nav-btn {
      animation: animation .5s ease forwards var(--i);
    }
  
    .thenav-links {
      flex: initial;
      width: 100%;
    }
  
    .thenav-links > ul {
      flex-direction: column;
    }
  
    .thenav-link {
      width: 100%;
      opacity: 0;
      transform: translateY(15px);
    }
  
    .thenav-link > a {
      line-height: 1;
      padding: 1.6rem 2rem;
      color: var(--text);
      font-size: 1.25rem;
      background-color: #0000000a;
    }
  
    .thenav-link:hover > a {
      transform: scale(1);
      background-color: var(--sub);
    }
  
    .thenav-link:hover > a > i{
      transform: rotate(360deg);
    }
  
    .thenav-link > a > i {
      font-size: 1.1rem;
      transform: rotate(-90deg);
      transition: .7s;
    }
   
  }
  /****** Navigation end *******/  

html,
body {
  height: 100%;
}

body {
    color: var(--accent);
    font-family: Geneva, Verdana, sans-serif;
    overflow-x: hidden;
  }
  .transition-1 {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    bottom: 0;
    z-index: 4;
    background-color: #742611;
    transition: 3s ease-out;
  }
  
  .transition-1.is-active {
    left: 50%;
  }

  .transition-2 {
    position: fixed;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    z-index: 4;
    background-color: #742611;
    transition: 3s ease-out;
  }
.transition-2.is-active {
    right: 50%;
  }

  .music-loader-1 {
    position: absolute;
    top: 40%;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    width: 200px;
    height: 100px;
    z-index: 2000;
  }

  .music-loader-2 {
    position: absolute;
    top: 40%;
    right: 0;
    display: flex;
    justify-content: space-around;
    width: 200px;
    height: 100px;
    margin: 0 auto;
    z-index: 2000;
  }
  
  .note {
    font-size: 3rem;
    animation: bounce 1.5s infinite ease-in-out;
    color: var(--main);
  }
  
  .note:nth-child(1) {
    animation-delay: 0s;
}

  .note:nth-child(2) {
    animation-delay: 0.2s;
}

.note:nth-child(3) {
    animation-delay: 0.4s;
}

.note:nth-child(4) {
    animation-delay: 0.6s;
}

.note:nth-child(5) {
    animation-delay: 0.8s;
}


  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px);
    }
  }


  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px);
    }
  }
    
  .hero{
    position: relative;
    background: url(../images/new-hero-image-1.webp) center / cover no-repeat fixed;
    height: 100vh;
    width: 100vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }
  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1;
  }
  
  .hero * {
    position: relative;
    z-index: 2; 
   }
  
  .text-box{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    background-color: transparent;
  }
  
  .title {
    font-family: 'Satisfy', cursive;
    color: var(--main);
    font-weight: 900;
    font-size: 5rem;
  }
  
  .slogan {
    margin: 1rem;
    font-size: 1.5rem;
    color: var(--text);
  }
  
  .button,
  .button *,
  .button :after,
  .button :before,
  .button:after,
  .button:before {
    border: 0 solid;
    box-sizing: border-box;
  }

  .button {
    width: 10rem;
    -webkit-tap-highlight-color: transparent;
    background-color: var(--main);
    background-image: none;
    color: var(--text);
    cursor: pointer;
    font-size: 100%;
    font-weight: 900;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    border-radius: 0.5rem;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    padding: 15px 0px;
    position: relative;
    text-transform: uppercase;
  }


.button .new,
.button .old {
  font-weight: 900;
}

.button .new {
  background: var(--sub);
  color: var(--text);
  content: "";
  display: grid;
  inset: 0;
  opacity: 0;
  place-items: center;
  position: absolute;
  transform: rotate(90deg) translateY(100%);
  transform-origin: bottom left;
  transition: transform 0.2s, opacity 0.2s;
}

.button:hover .new {
  opacity: 1;
  transform: rotate(0deg) translateY(0);
}

.button .old {
  transition: opacity 0.2s;
}

.button:hover .old {
  opacity: 0;
}

.button:disabled {
  cursor: default;
}

.button:-moz-focusring {
  outline: auto;
}

.logo, .thenav-link > a, .text-box {
  background-color: #00000003;
} 

.button .old, .button .new{
  background-color: #0000000a;
}
  /****** Footer *****/
  footer {
    bottom: 0;
    left: 0;
    position: relative;
    line-height: 3em;
    width: 100%;
    align-content: center;
    background-color: #742611;
  }

  .footer-section{
    padding: 1rem;
  }
  footer .footer-section li{
    list-style: none;
    display: inline;
    margin-right: 1rem;
  }

  footer .footer-section li a{
    color: var(--main);
    font-weight: bold;
  }

  footer .footer-section li a:hover{
    font-size: large;
    color: var(--sub);
  }
/******** Footer End ********/
  @media (max-width: 320px) {
    .title {
      font-size: 3rem;
    }
    .button{
      padding: 10px 0;
      width: 6rem;
      font-size: .8rem;
    }
    .slogan{
      font-size: 1rem;
    }
    .text-box{
      gap: 0;
    }
  }
  @media (min-width: 375px) {
    .title {
      font-size: 3rem;
    }
    .button{
      padding: 10px 0;
      width: 6rem;
      font-size: .8rem;
    }
    .slogan{
      font-size: 1rem;
    }
    .text-box{
      gap: 2rem;
    }

  }

  
  @media (min-width: 750px) {
    .text-box{
      gap: 2rem;
    }
    .title{
      font-size: 4rem;
    }
    .slogan{
      font-size: 1.5rem;
    }
    .button{
      width: 10rem;
      padding: 13px 0;
      font-size: 1rem;   
    }
  }
  @media (min-width: 1400px) {
    .title{
      font-size: 7rem;
    }
    .slogan{
      font-size: 2rem;
    }
    .button{
      width: 13rem;
      padding: 20px 0;
      font-size: 1.5rem;
    }
  }
  
  @media (min-width: 2500px) {
    .title{
      font-size: 12rem;
    }
    .slogan{
      font-size: 4rem;
    }
    .button{
    width: 20rem;
    padding: 30px 0;
    font-size: 2rem;
    }
    .text-box{
      gap: 3rem;
    }
    .navbar-brand{
      font-size: 4rem;
    }
    .navbar-nav .nav-link{
      font-size: 4rem;
    }
    .list{
      margin-right: 10rem;
      gap: 6rem;
    }
  }