@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
:root {
    --main: #d5aa77;
    --sub: #971e08;
    --text: #FAFAFA;
    --background: #bc3b18;
    --accent: #0000;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", Arial, sans-serif;
    text-decoration: none !important;
}

nav {
  background-color: transparent;
  
}

.navbar-brand{
  color: var(--main) !important;
  font-weight: 900;
  font-family: 'Satisfy', serif;
}

.navbar-nav .nav-link{
  color: var(--main) !important;
}

html,
body {

    height: 100%;
}

body {
    color: var(--accent);
    font-family: Geneva, Verdana, sans-serif;
    text-align: center;
    overflow-x: hidden;
  }
  .transition-1 {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    bottom: 0;
    z-index: 4;
    background-color: var(--background);
    transition: 3s ease-out;
  }
  
  .transition-1.is-active {
    left: 50%;
  }

  .transition-2 {
    position: fixed;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    z-index: 4;
    background-color: var(--background);
    transition: 3s ease-out;
  }
.transition-2.is-active {
    right: 50%;
  }

  .music-loader-1 {
    position: absolute;
    top: 40%;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    width: 200px;
    height: 100px;
    z-index: 2000;
  }

  .music-loader-2 {
    position: absolute;
    top: 40%;
    right: 0;
    display: flex;
    justify-content: space-around;
    width: 200px;
    height: 100px;
    margin: 0 auto;
    z-index: 2000;
  }
  
  .note {
    font-size: 3rem;
    animation: bounce 1.5s infinite ease-in-out;
  }
  
  .note:nth-child(1) {
    animation-delay: 0s;
    color: #d5aa77;
}

  .note:nth-child(2) {
    animation-delay: 0.2s;
    color: #d87a2b;
}

.note:nth-child(3) {
    animation-delay: 0.4s;
    color: #fff;
}

.note:nth-child(4) {
    animation-delay: 0.6s;
    color: #971e08;
}

.note:nth-child(5) {
    animation-delay: 0.8s;
    color: #4a050f;
}


  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px);
    }
  }
    
  .hero{
    position: relative;
    background: url(../images/new-hero-image-1.webp) center / cover no-repeat fixed;
    height: 100vh;
    width: 100vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }
  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); 
    z-index: 1;
  }
  
  .hero * {
    position: relative;
    z-index: 2; 
   }
  header {
    position: fixed;
    top: 0;
    width: 100%;
    line-height: 3em;
    background: linear-gradient(0deg, #000000 0%, #0e0e0e 5%, #757575 25%, #c5c5c5 35%, #ffffff 50%, #c5c5c5 65%, #757575 75%, #0e0e0e 95%, #000000 0%);
    color: var(--background);
    align-content: center;
    border-top: 0.025rem solid #ffffff;
    border-bottom: 0.025rem solid #ffffff;
    z-index: 3;
  }
  
  .text-box{
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .title {
    font-family: 'Satisfy', cursive;
    color: var(--main);
    font-weight: 900;
    font-size: 5rem;
  }
  
  p {
    margin: 1rem;
    font-size: 1.5rem;
    color: var(--text);
  }
  
  .button,
  .button *,
  .button :after,
  .button :before,
  .button:after,
  .button:before {
    border: 0 solid;
    box-sizing: border-box;
  }
  .button {
    width: 10rem;
    -webkit-tap-highlight-color: transparent;
    background-color: var(--main);
    background-image: none;
    color: var(--text);
    cursor: pointer;
    font-size: 100%;
    font-weight: 900;
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }
  .button:disabled {
    cursor: default;
  }
  .button:-moz-focusring {
    outline: auto;
  }

  .button {
    border-radius: 0.5rem;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    padding: 15px 0px;
    position: relative;
    text-transform: uppercase;
  }
  .button .new,
  .button .old {
    font-weight: 900;
  }
  .button .new {
    background: var(--sub);
    color: var(--text);
    content: "";
    display: grid;
    inset: 0;
    opacity: 0;
    place-items: center;
    position: absolute;
    transform: rotate(90deg) translateY(100%);
    transform-origin: bottom left;
    transition: transform 0.2s, opacity 0.2s;
  }
  .button:hover .new {
    opacity: 1;
    transform: rotate(0deg) translateY(0);
  }
  .button .old {
    transition: opacity 0.2s;
  }
  .button:hover .old {
    opacity: 0;
  }
  
  footer {
    bottom: 0;
    left: 0;
    position: fixed;
    line-height: 3em;
    width: 100%;
    align-content: center;
    background-color: #8f4e18;
  }

  @media (max-width: 320px) {
    .title {
      font-size: 3rem;
    }
    .button{
      padding: 10px 0;
      width: 6rem;
      font-size: .8rem;
    }
    p{
      font-size: 1rem;
    }
    .text-box{
      margin-top: -12rem;
      gap: 0;
    }
  }
  @media (min-width: 375px) {
    .title {
      font-size: 3rem;
    }
    .button{
      padding: 10px 0;
      width: 6rem;
      font-size: .8rem;
    }
    p{
      font-size: 1rem;
    }
    .text-box{
      margin-top: -5rem;
      gap: 2rem;
    }

  }

  
  @media (min-width: 750px) {
    .text-box{
      margin-top: 3rem;
      gap: 2rem;
    }
    .title{
      font-size: 4rem;
    }
    p{
      font-size: 1.5rem;
    }
    .button{
      width: 10rem;
      padding: 13px 0;
      font-size: 1rem;   
    }
  }
  @media (min-width: 1400px) {
    .title{
      font-size: 7rem;
    }
    p{
      font-size: 2rem;
    }
    .button{
      width: 13rem;
      padding: 20px 0;
      font-size: 1.5rem;
    }
  }
  
  @media (min-width: 2500px) {
    .title{
      font-size: 12rem;
    }
    p {
      font-size: 4rem;
    }
    .button{
    width: 20rem;
    padding: 30px 0;
    font-size: 2rem;
    }
    .text-box{
      gap: 3rem;
    }
  }