@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
:root {
    --main: #d5aa77;
    --sub: #971e08;
    --text: #FAFAFA;
    --background: #bc3b18;
    --accent: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background: var(--background);
    color: var(--text);
    font-family: Geneva, Verdana, sans-serif;
    text-align: center;
  }
  
  .container {
    grid-template-rows: auto 1fr auto;
  }
  
  header {
    position: fixed;
    top: 0;
    width: 100%;
    line-height: 3em;
    background: linear-gradient(0deg, #000000 0%, #0e0e0e 5%, #757575 25%, #c5c5c5 35%, #ffffff 50%, #c5c5c5 65%, #757575 75%, #0e0e0e 95%, #000000 0%);
    color: var(--background);
    align-content: center;
    border-top: 0.025rem solid #ffffff;
    border-bottom: 0.025rem solid #ffffff;
    z-index: 1100;
  }
  
  h1, h2 {
    margin: 2rem auto;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }
  
  p {
    margin: 1rem;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  footer {
    bottom: 0;
    left: 0;
    position: sticky;
    line-height: 3em;
    width: 100%;
    align-content: center;
    background-color: #8f4e18;
  }