@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
:root {
    --main: #d5aa77;
    --sub: #971e08;
    --text: #FAFAFA;
    --background: #bc3b18;
    --accent: #000000;
}

  /****** Navigation start *******/
  
/* Custom styles */

.thank-you {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 0;
  background-color: rgba(213, 170, 119, 0.8);
  color: var(--text);
  /* border-radius: 12px; */
  /* padding-top: 2rem; */
}

.cta-button {
  padding: 0.75em 1.5em;
  background-color: var(--background);
  color: var(--text);
  border: none;
  border-radius: 8px;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #8f4e18; /* Darker shade on hover */
  color: var(--text);
  text-decoration: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

  @keyframes animation {
    from {
      opacity: 0;
      transform: translateY(15px);
    }
  
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  
  @media (max-width: 920px) {
    .hamburger-menu-container {
      display: flex;
    }
  
    .thenav-links {
      flex: initial;
      width: 100%;
    }
  
    .thenav-links > ul {
      flex-direction: column;
    }
  
    .thenav-link {
      width: 100%;
      opacity: 0;
      transform: translateY(15px);
    }
  
    .thenav-link > a {
      line-height: 1;
      padding: 1.6rem 2rem;
    }
  
    .thenav-link:hover > a {
      transform: scale(1);
      background-color: var(--sub);
    }
  
    .thenav-link:hover > a > i{
      transform: rotate(360deg);
    }
  
    .thenav-link > a > i {
      font-size: 1.1rem;
      transform: rotate(-90deg);
      transition: .7s;
    }
   
  }
  /****** Navigation end *******/  
  h1, h2 {
    margin: 2rem auto;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }
  
  p {
    margin: 1rem;
    font-size: 1.5em;
    /* font-family: Arial, Helvetica, sans-serif; */
  }
  
  /****** Footer *****/
  footer {
    bottom: 0;
    left: 0;
    position: relative;
    line-height: 3em;
    width: 100%;
    align-content: center;
    background-color: #8f4e18;
    color: var(--text);
    width: 100%;
  }

  .footer-section{
    padding: 1rem;
  }
  footer .footer-section li{
    list-style: none;
    display: inline;
    margin-right: 1rem;
    color: var(--text)
  }

  footer .footer-section li a{
    color: var(--main);
    font-weight: bold;
  }

  footer .footer-section li a:hover{
    font-size: large;
    color: var(--sub);
  }
/******** Footer End ********/